{% extends "generator/base.html" %} {% load bootstrap4%} {% block title %}商品説明ジェネレーター{% endblock title %} {% block content%}

<div class="jumbotron">
<h1 class="text-center">商品説明ジェネレーター</h1>
<p class="text-center">商品の特徴を入力するだけでいい感じの商品説明を生成します。<br>
  メルカリ・ヤフオクなどで洋服の商品説明の記載に困った際にご活用ください。</p>
</div>

<div class="container mx-auto" style="width: 200px;">
  <form id="generator" action="{% url 'generator:index' %}" method="post">
  {{ form.as_p }}
  {% csrf_token %}
  <br>
    <button type="submit" name="btn_generate" class="btn btn-primary" style="width: 200px">商品説明作成！</button>
</div>
</form>
</div>
<br>
<div class="form-group mx-auto" style="width: 600px;">
  <label for="descriptionTextarea">商品説明</label>
  <textarea class="form-control" id="descriptionTextarea" rows="5"></textarea>
</div>
</form>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="social mx-auto" style="width: 400px;">
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="fb-like" data-href="https://description-generator.herokuapp.com/generator/index" data-layout="box_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
<a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="vertical-normal" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
</div>



{% endblock content %}
{% block extra_js %}
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');
  
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function (xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });

$(function () {
  var elements = { main_category:$('#id_m_category'), sub_category:$('#id_s_category'), silhouette:$('#id_silhouette'),
  design:$('#id_design'), neck:$('#id_neck'), coller:$('#id_coller'), zip_button:$('#id_zip_button'),length:$('#id_length'),
  leg:$('#id_leg'), effect:$('#id_effect') };
  
  init(elements);
  $('#id_gender').change(function() {    
    elements['main_category'].parent().show(); 
    for(var name in elements){
      elements[name].parent().hide(); 
      elements[name].children().each(function () {
      // 子カテゴリの選択欄を空にする。
      $(this).not(':first-child').remove();
    });
    }

    var pk = $(this).val();

    $.ajax({
      url: 'ajax/main_category/',
      type: 'POST',
      data:{
        'pk':pk,
        }
    }).done(function(categoryList){
        // 子カテゴリの選択肢を作成・追加。
        for(var category of categoryList) {
            var option = $('<option>');
            option.val(category['pk']);
            option.text(category['main_category']);
            elements['main_category'].append(option);
            elements['main_category'].parent().show();
        }
    });
  });

  $('#id_m_category').change(function() {
    for(var name in elements){
      if(name != 'main_category'){
        elements[name].parent().hide(); 
        elements[name].children().each(function () {
          $(this).not(':first-child').remove();
          });
        ajax(name, elements);
      }
    }
    elements['sub_category'].parent().show(); 
    var pk = $(this).val();
  });
  
  $('#id_s_category').change(function() {
    for(var name in elements){
      if(name != 'main_category' && name != 'sub_category'){
        elements[name].parent().hide(); 
        elements[name].children().each(function () {
          $(this).not(':first-child').remove();
          });
        ajax(name, elements);
      }
    }
  });
  
  //初期化処理
  function init(elements) {
    for(var name in elements){
      elements[name].children().each(function () {
        $(this).not(':first-child').remove();
      });
      elements[name].parent().hide(); 
    }
  }
  
  //ajax処理
  function ajax(name, elements) {
    $.ajax({
      url: 'ajax/'+name+'/',
      type: 'POST',
      data:{
        'mainCategoryPk':$('#id_m_category').val(),
        'subCategoryPk':$('#id_s_category').val(),
        }
    }).done(function(categoryList){
        for(var category of categoryList) {
            var option = $('<option>');
            option.val(category['pk']);
            option.text(category[name]);
            elements[name].append(option);
            elements[name].parent().show();
        }
    }); 
  }
});


  $('#generator').submit(function () {
    $.ajax({
      'url': '',
      'type': 'POST',
      'data': {
        'main_category': $('#id_m_category').val(),
        'sub_category': $('#id_s_category').val(),
        'silhouette': $('#id_silhouette').val(),
        'design': $('#id_design').val(),
        'neck': $('#id_neck').val(),
        'coller': $('#id_coller').val(),
        'zipbutton': $('#id_zip_button').val(),
        'length': $('#id_length').val(),
        'leg': $('#id_leg').val(),
        'effect': $('#id_effect').val(),
      },
      'success': function (response) {
        $('#descriptionTextarea').val(response)
      },
    });
    return false;
  });
</script>
{% endblock extra_js %}